body, html {
    background: url('../../static/images/bg-pong-3.jpg') no-repeat center center fixed;
    background-color: #13161a;
    background-size: cover;
    color: #c9d1d9;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.6;
    position: relative;
    overflow: auto;
}

.card-title {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #58f1ff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-label {
    color: #58a6ff;
    display: block;
    margin-bottom: 5px;
}
.form-control {
    background-color: transparent;
    color: #c9d1d9;
    border: 1px solid #13161a;
    border-radius: 0;
    padding-left: 30px;
}
.form-control:focus {
    background-color: transparent;
    border-color: #58a6ff;
    box-shadow: none;
}
.btn-primary {
    background-color: #238636;
    border: none;
}
.btn-primary:hover {
    background-color: #2ea043;
}
.hidden {
    display: none;
}
.form-check-label {
    color: #c9d1d9;
}
.text-muted {
    color: #8b949e !important;
}
a {
    color: #58a6ff;
}
.completed::before, .awaiting::before {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.completed::before {
    content: '\f00c';
    color: #2ea043;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.awaiting::before {
    content: '\f061';
    color: #f78166;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
    color: aliceblue;
    border: 2px solid #c9d1d9;
}
.input-group .form-control {
    padding-left: 30px;
    left: 45px;
}
.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
}

.blur-div {
    background: rgba(19, 20, 22, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
  }



  /* pong */

#gameCanvas {
    border: 8px solid #fff;
    background: rgba(19, 20, 22, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}